body {
    background-color: #09010a;
    background: radial-gradient(circle at top left, #0b000b, #000010);
    color: #dddddd;
    font-family: Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

.notch {
    padding: 15px;
}

.subnotch {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.heading1 {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 30px;
    flex-grow: 1;
}

.menu {
    padding-right: 30px;
    height: 30px;
    object-fit: cover;
}

.text1 {
    padding: 0;
    padding-bottom: 4px;
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Courier', monospace;
}

.text2 {
    padding: 0;
    margin: 0;
}

.descimage {
    background: linear-gradient(45deg, rgba(11, 0, 11, 0.8), rgba(0, 0, 16, 0.8)),
        url('assets/computer.jpeg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 360px;
    padding: 15px;
    display: flex;
    align-items: end;
}

.heading3 {
    padding: 0;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
.problemsbox{
    padding: 15px;
    margin-bottom: 50px;
}
.problemslist{
    display: flex;
}
.p-text{
    flex-grow: 1;
    padding: 8px;
    margin: 6px;
    text-align: center;
    background-color: #00001026;
    border-radius: 30px;
    border: 1px solid #263238;
   
}





.bodybox {
    margin-top: 50px;
}

.itemslist {
    margin: 12px;
    display: flex;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: repeat(auto-fit, minimax(100px, 1fr));
    gap: 9px;
}

.itemcard {
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    border: 1px solid #424242;
    padding: 12px;
    flex-grow: 1;


}

.i-image {
    height: 20px;
    width: 20px;
    padding: 12px;
    margin-bottom: 40px;
    object-fit: cover;
    background-color: #0b000b;
    border-radius: 10px;

}

.i-heading {
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.i-text {
    padding: 0;
    margin: 0;
    font-weight: 400;

}

.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 25px;
    width: 25px;
    display: flex;
    text-align: center;
    padding: 20px;
    border-radius: 50%;
    margin: 8px;
    background-color: #074133f9;
    border: solid 1px #dddddd;
    z-index: 1000;
}

.fablogo {
    height: 28px;
    width: 40px;
    object-fit: cover;
}
.betabox{
    margin-top: 50px;
}